---
// main layout
// components
import Button from "@components/Button/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Merci !" description="Votre message a bien été envoyé." noindex={true}>
	<section class="site-container pt-36 text-center md:pt-44">
		<div class="mx-auto max-w-xl px-4 text-center">
			<h1 class="h1">Merci !</h1>
			<p class="description mt-4 text-lg">
				Votre message a bien été envoyé. Je vous répondrai dans les plus brefs délais !
			</p>
			<div class="mt-8 flex justify-center">
				<Button variant="primary" href="/">Retour à l'accueil</Button>
			</div>
		</div>
	</section>
</BaseLayout>
